@using entity_dotnet_project.Models
@model User

<div class="text-center">
    <h1 class="display-4">Create a user</h1>
</div>

<div class="row">
    <div class="col-6">
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="UserForm" method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Gender" class="form-label">Gender</label>
                <input asp-for="Gender" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
