@model LikeUserViewModel

<div class="text-center">
    <h1 class="display-4">Add a like</h1>
</div>

<div class="text-danger">@ViewData["Message"]</div>

<div class="row">
    <div class="col-6">
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <form asp-action="LikeForm" method="post">
            <div class="mb-3">
                <label asp-for="SelectedSender" class="form-label">Select the sender</label>
                <select class="form-select" asp-items="Model.UsersList" asp-for="SelectedSender">
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="SelectedRecipient" class="form-label">Select the recipient</label>
                <select class="form-select" asp-items="Model.UsersList" asp-for="SelectedRecipient">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
