@using entity_dotnet_project.Models
@model User

<div class="text-center">
    <h1 class="display-4">Add a like</h1>
</div>

<div class="row">
    <div class="col-6">
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="" method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Sender</label>
                <input asp-for="Username" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Recipient</label>
                <input asp-for="Email" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
