@model MessageUserViewModel

<div class="text-center">
    <h1 class="display-4">Create a message</h1>
</div>

<div class="row">
    <div class="col-6">
        <form asp-action="MessageForm" method="post">
            <div class="mb-3">
                <label asp-for="SelectedSender" class="form-label">Select the sender</label>
                <select class="form-select" asp-items="Model.UsersList" asp-for="SelectedSender">
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="SelectedRecipient" class="form-label">Select the recipient</label>
                <select class="form-select" asp-items="Model.UsersList" asp-for="SelectedRecipient">
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="Message.Content" class="form-label">Content</label>
                <input asp-for="Message.Content" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
